.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
node_modules/**
demo-app/**
example-project/**
*.vsix
.DS_Store
*.log
.git/**
.github/**
webpack.config.js
.editorconfig
.eslintrc.js
create-test-file.sh
extension.code-workspace
